<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News-App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="header">
        <div class="header_logo"><a href="http://localhost:3000/">NEWS</a></div>
        <div class="header_search">
            <form action="/search" method="POST">
                <input type="text" name="search" placeholder="search for news" required>
                <button type="submit">search</button>
            </form>
        </div>
    </nav>
    <div class="wrapper">
        <div class="news">
            <% if(get_articals != null){ %>
            <% get_articals.forEach((artical, index) => { %>
                <a href="<%- artical.source.id %>" class="news_card">
                    <img src="<%- artical.urlToImage %>" alt="<%- artical.title %>">
                <h2><%- artical.title  %></h2>
                <p><%- artical.description %></p>
                </a>
           <%  }); %>
           <% } else{ %>
            no post found.
            <% } %>
        </div>
    </div>
</body>
</html>